body {
    background-image: url(./library-image.png);
    /* position: relative; */
}

h1 {
    display: block;
    margin: 50px auto;
    width: 75%;
    font-family: 'Cormorant Unicase', serif;
    background-color: rgb(75, 88, 66, 0.8);
    font-size: 80px;
    color: #daddd8;
    text-align: center;
}

h3 {
    background-color: rgb(75, 88, 66, 0.8);
    color: #daddd8;
    text-align: center;
    font-family: 'Cormorant Unicase', serif;
    font-size: 25px;
    margin: 75px;
}

nav {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: rgb(75, 88, 66, 0.8);
    font-size: 50px;
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
}

li {
   display: inline-block;
}

li a {
    display: inline-block;
    color: #daddd8;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}

li a:hover {
    background-color: #daddd8;
    color: #4b5842;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
section {
    background-color: rgb(75, 88, 66, 0.8);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

form {
    margin: 0 auto;
    width:500px;
    position:relative;
    top:50px;
    border:5px solid #262626;
    background-color: rgb(187, 187, 187, .6);
}

label {
    display: block;
    margin: 15px auto;
    width: 40%;
    display: block;
    background-color: rgb(75, 88, 66, 0.6);
    border: 2px solid #262626;
    padding:5px 0 5px 0;
    text-align: center;
    font-size: 25px;
    color:#262626;
    font-family: 'Cormorant Unicase', serif;
}

input {
    display: block;
    margin: 15px auto;
    padding: 0;
    height: 30px;
    width: 75%;
    position: relative;
    left: 0;
    outline: none;
    border: 2px solid #262626;
    border-color: rgba(0, 0, 0,);
    background-color: #bbbbbb;
    font-size: 16px;
}

#submitButton {
    display: block;
    margin: 15px auto;
    width: 25%;
    background-color: #262626;
    color: #bbbbbb;
}

/* input [type=submit] {
    display: block;
    padding: 10px 10px;
    margin-top: 10px;
    text-align: center;
} */

section {
    color: #daddd8;
    font-family: 'Cormorant Unicase', serif;
}

.bookTitle {
    font-size: 30px;
}

.bookAuthor {
    font-size: 20px;
}