body {
    background-image: url(./library-image.png);
}

nav {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: #4b5842;
    font-size: 25px;
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
}

h1 {
    font-family: 'Cormorant Unicase', serif;
    font-size: 75px;
}

li {
   display: inline;
}

li a {
    display: inline-block;
    color: #daddd8;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}

li a:hover {
    background-color: #daddd8;
    color: #4b5842;
}