<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link href=“https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&display=swap” rel=“stylesheet”>
    <title>Book Information</title>
</head>
<body>
    <nav id="navBar">
        <li><a href="../index.html" id = 'homeLink'>Home</a></li>
        <li><a href="./allBooks.html" id= 'allBooksLink'>See All Books</a></li>
        <li><a href="./newBook.html" id= 'newBookLink'>Add a New Book</a></li>
    </nav>

    <main id='bookContainer'></main>

    <script src="../app.js"></script>
</body>
</html>
