<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <nav id="navBar">
        <nav id="navBar">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./allBooks.html">See All Books</a></li>
            <li><a href="./newBook.html">Add a New Book</a></li>
        </nav>
    </nav>
    <form id="editBookForm" action="POST">
        <h1>Edit Current Book</h1>

        <label for="title">Title</label>
        <input id = "title" type="text">

        <label for="author">Author</label>
        <input id = "author" type="text">

        <label for="release_date">Release Date</label>
        <input id = "release_date" type="text">

        <label for="image">Bookcover</label>
        <input id = "image" type="text">

        <input type= "submit">
    </form>
    
    <script src="../app.js"></script>
</body>
</html>