<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link href=“https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&display=swap” rel=“stylesheet”>
    <title>Edit Book</title>
</head>
<body>
    <nav id="navBar">
        <a href="../index.html" id= 'homeLink'>Home</a>
        <a href="./allBooks.html" id= 'allBooksLink'>See All Books</a>
        <a href="./newBook.html" id= 'newBookLink'>Add a New Book</a>
    </nav>
    <form id="editBookForm" action="POST">
        <h1>Edit Current Book</h1>

        <label for="title">Title</label>
        <input id = "title" type="text">

        <label for="author">Author</label>
        <input id = "author" type="text">

        <label for="release_date">Release Date</label>
        <input id = "release_date" type="text">

        <label for="image">Bookcover</label>
        <input id = "image" type="text">

        <input type= "submit">
    </form>

    <script src="../app.js"></script>
</body>
</html>
